## Weak 36

In [2]:
import tiktoken
from tokenizers import Tokenizer
from transformers import (
    AutoTokenizer,
    AutoModelForSeq2SeqLM,
    pipeline,
)
from datasets import load_dataset
import polars as pl

In [3]:
# Get huggingface dataset
dataset = load_dataset("coastalcph/tydi_xor_rc")
df_train = pl.from_pandas(dataset["train"].to_pandas())
df_test = pl.from_pandas(dataset["test"].to_pandas())

In [4]:
df_train.columns

['question',
 'context',
 'lang',
 'answerable',
 'answer_start',
 'answer',
 'answer_inlang']

In [5]:
df_train.head()

shape: (5, 7)
┌────────────────┬───────────────┬──────┬────────────┬──────────────┬──────────────┬───────────────┐
│ question       ┆ context       ┆ lang ┆ answerable ┆ answer_start ┆ answer       ┆ answer_inlang │
│ ---            ┆ ---           ┆ ---  ┆ ---        ┆ ---          ┆ ---          ┆ ---           │
│ str            ┆ str           ┆ str  ┆ bool       ┆ i64          ┆ str          ┆ str           │
╞════════════════╪═══════════════╪══════╪════════════╪══════════════╪══════════════╪═══════════════╡
│ উইকিলিকস কত    ┆ WikiLeaks ()  ┆ bn   ┆ true       ┆ 182          ┆ 2006         ┆ null          │
│ সালে সর্বপ্রথম    ┆ is an         ┆      ┆            ┆              ┆              ┆               │
│ ইন্…            ┆ internation…  ┆      ┆            ┆              ┆              ┆               │
│ দ্বিতীয়         ┆ The war in    ┆ bn   ┆ true       ┆ 48           ┆ Germany      ┆ null          │
│ বিশ্বযুদ্ধে কোন   ┆ Europe        ┆      ┆            ┆              ┆              ┆               │
│ দেশ প…         ┆ concluded wi… ┆      ┆            ┆              ┆              ┆               │
│ মার্কিন          ┆ Same-sex      ┆ bn   ┆ false      ┆ -1           ┆ no           ┆ null          │
│ যুক্তরাষ্ট্রের      ┆ marriage in   ┆      ┆            ┆              ┆              ┆               │
│ সংবিধান…        ┆ the Unite…    ┆      ┆            ┆              ┆              ┆               │
│ আরব-ইসরায়েলি    ┆ The exact     ┆ bn   ┆ true       ┆ 39           ┆ unknown      ┆ null          │
│ যুদ্ধে আরবের     ┆ number of     ┆      ┆            ┆              ┆              ┆               │
│ মোট…           ┆ Arab casua…   ┆      ┆            ┆              ┆              ┆               │
│ বিশ্বে প্রথম     ┆ As Thomas     ┆ bn   ┆ true       ┆ 1219         ┆ 17th century ┆ null          │
│ পুঁজিবাদী সমাজ কব… ┆ Hall (2000)   ┆      ┆            ┆              ┆              ┆               │
│                ┆ notes, "…     ┆      ┆            ┆              ┆              ┆               │
└────────────────┴───────────────┴──────┴────────────┴──────────────┴──────────────┴───────────────┘

In [6]:
df_ar = df_train.filter(pl.col("lang") == "ar")
df_ko = df_train.filter(pl.col("lang") == "ko")
df_te = df_train.filter(pl.col("lang") == "te")

In [7]:
df_te.describe()

shape: (9, 8)
┌────────────┬──────────┬──────────────┬──────┬────────────┬──────────────┬─────────┬──────────────┐
│ statistic  ┆ question ┆ context      ┆ lang ┆ answerable ┆ answer_start ┆ answer  ┆ answer_inlan │
│ ---        ┆ ---      ┆ ---          ┆ ---  ┆ ---        ┆ ---          ┆ ---     ┆ g            │
│ str        ┆ str      ┆ str          ┆ str  ┆ f64        ┆ f64          ┆ str     ┆ ---          │
│            ┆          ┆              ┆      ┆            ┆              ┆         ┆ str          │
╞════════════╪══════════╪══════════════╪══════╪════════════╪══════════════╪═════════╪══════════════╡
│ count      ┆ 1355     ┆ 1355         ┆ 1355 ┆ 1355.0     ┆ 1355.0       ┆ 1355    ┆ 50           │
│ null_count ┆ 0        ┆ 0            ┆ 0    ┆ 0.0        ┆ 0.0          ┆ 0       ┆ 1305         │
│ mean       ┆ null     ┆ null         ┆ null ┆ 0.96679    ┆ 142.467159   ┆ null    ┆ null         │
│ std        ┆ null     ┆ null         ┆ null ┆ null       ┆ 191.558834   ┆ null    ┆ null         │
│ min        ┆ 1950 నాటికి ┆              ┆ te   ┆ 0.0        ┆ -1.0         ┆ "Ai'n-e ┆ (100 °సెం.)   │
│            ┆ విశాఖపట్నం  ┆ Gerschenkron ┆      ┆            ┆              ┆ Akbari" ┆              │
│            ┆ జిల్లాల…    ┆ did not      ┆      ┆            ┆              ┆         ┆              │
│            ┆          ┆ define e…    ┆      ┆            ┆              ┆         ┆              │
│ 25%        ┆ null     ┆ null         ┆ null ┆ null       ┆ 17.0         ┆ null    ┆ null         │
│ 50%        ┆ null     ┆ null         ┆ null ┆ null       ┆ 79.0         ┆ null    ┆ null         │
│ 75%        ┆ null     ┆ null         ┆ null ┆ null       ┆ 198.0        ┆ null    ┆ null         │
│ max        ┆ హ్యారీ పోట్టర్ ┆ will be the  ┆ te   ┆ 1.0        ┆ 2400.0       ┆ złoty   ┆ సి.ఎన్.అన్నాదురై  │
│            ┆ చిత్ర      ┆ place. The   ┆      ┆            ┆              ┆         ┆              │
│            ┆ కథానాయకుడ… ┆ nuclear…     ┆      ┆            ┆              ┆         ┆              │
└────────────┴──────────┴──────────────┴──────┴────────────┴──────────────┴─────────┴──────────────┘

### Get tokenizers and look at sample (Arabic) sentence

In [8]:
# Load multilingual BERT tokenizer
mbert_tokenizer = Tokenizer.from_pretrained("bert-base-multilingual-uncased")
# Load GPT-4 tokenizer
gpt4_tokenizer = tiktoken.get_encoding("cl100k_base")
# Load NLLB-200 tokenizer
nllb_tokenizer = AutoTokenizer.from_pretrained("facebook/nllb-200-distilled-600M")

In [9]:
" | ".join(mbert_tokenizer.encode(df_ar["question"][0]).tokens)

'[CLS] | م | ##تى | ت | ##دخل | ##ت | روسيا | في | الحرب | الا | ##هل | ##ية | السورية | ؟ | [SEP]'

In [10]:
# Decode each token from GPT-4 tokenizer
" | ".join([gpt4_tokenizer.decode([token]) for token in gpt4_tokenizer.encode(df_ar["question"][0])])

'م | ت | ى |  ت | د | خ | ل | ت |  ر | و | س | ي | ا |  في |   |  ال | ح | ر | ب |  ال | أ | ه | ل | ية |  ال | س | ور | ية | � | �'

In [11]:
" | ".join(nllb_tokenizer.tokenize(df_ar["question"][0]))

'▁متى | ▁تد | خ | لت | ▁روس | يا | ▁في | ▁الحرب | ▁الأ | ه | لية | ▁الس | ور | ية | ؟'

## Get the top 5 most frequent words

In [12]:
# Language dict
lang_dict = {
    "ar": "arb_Arab",
    "ko": "kor_Hang",
    "te": "tel_Telu",
}

In [13]:
# Set up translation pipeline for NLLB-200
translator_model = AutoModelForSeq2SeqLM.from_pretrained("facebook/nllb-200-distilled-600M")

In [14]:
# Tokenize questions in Arabic using multilingual BERT tokenizer
def _make_translator(src_lang:str):
    translator = pipeline(
        "translation",
        model=translator_model,
        tokenizer=nllb_tokenizer,
        src_lang=src_lang,
        tgt_lang="eng_Latn",
    )
    return translator

def tokenize_question(df: pl.DataFrame, with_translation: bool = True) -> pl.DataFrame:
    df.with_columns(
        pl.col("question")
        .map_elements(lambda x: nllb_tokenizer.encode(x))
        .alias("tokens")
    )
    if with_translation:
        src_lang = lang_dict[df["lang"][0]]
        translator = _make_translator(src_lang)
        df = df.with_columns(
            pl.col("question")
            .map_elements(lambda x: translator(x)[0]["translation_text"])
            .alias("translation")
        )
            
    return df

In [15]:
df_ar_mini = tokenize_question(df_ar[:10], with_translation=True)

Device set to use cpu

In [20]:
df_ar_mini.write_excel("df_ar_mini.xlsx")
df_ar_mini.write_parquet("df_ar_mini.parquet")

In [16]:
count_dict_ko = {}
for tokens in df_ko["tokens"]:
    for token in tokens:
        if token in count_dict_ko:
            count_dict_ko[token] += 1
        else:
            count_dict_ko[token] = 1
# Get as tuple and sort by frequency
sorted_frequency_list_ko = sorted(count_dict_ko.items(), key=lambda x: x[1], reverse=True)

ColumnNotFoundError: "tokens" not found

In [ ]:
sorted_frequency_list_ko